.notification_success {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.notification_error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

